@* @model IEnumerable<Travel.Models.Select>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSelected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSelected)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

@model IEnumerable<Travel.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h1>Обране</h1>

<div id="places">
    @foreach (Place? place in Model)
    {
        <div class="placeCard shadow-lg">
            <a asp-controller="Home" asp-action="Details" asp-route-id="@place.Id">
                <div>
                    <div class="photograph">
                        @if (place.Data != null)
                        {
                            <img class="placesDetailsImage"
                                 src="data:image/jpeg;base64,@(Convert.ToBase64String(place.Data))" />
                        }
                    </div>
                    <p>@place.Name</p>
                </div>
            </a>
        </div>
    }
</div>
